<div id='book_1_container'  class="col-xs-12 order-xs-last order-md-last col-md-6 " >
    
    <div id="canvas1">
        
        <div class="magazine-viewport magazine-viewport-right">
            <div class="container">
                <div id="book1" class="magazine" >
                    <!-- Next button -->
                    <div ignore="1" class="next-button1"></div>
                    <!-- Previous button -->
                    <div ignore="1" class="previous-button1"></div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
