
        <div id='book_4_container' class="col-xs-12 order-sm-last col-md-6 order-xs-last order-md-first" >
            <div id="canvas4">
                
                
                <div class="magazine-viewport magazine-viewport-left">
                    <div class="container">
                        <div id="book4" class="magazine">
                            <!-- Next button -->
                            <div ignore="1" class="next-button4"></div>
                            <!-- Previous button -->
                            <div ignore="1" class="previous-button4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
