

            <div id='book_2_container' class="col-xs-12 col-md-6 order-xs-last order-sm-last order-md-first" >
                <div id="canvas2">
                    
                    
                    <div class="magazine-viewport magazine-viewport-left" >
                        <div class="container" >
                            <div id="book2" class="magazine">
                                <!-- Next button -->
                                <div ignore="1" class="next-button2"></div>
                                <!-- Previous button -->
                                <div ignore="1" class="previous-button2"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
