<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
                <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

                <title>MLator</title>
                </head>

    <body>
        
<div class="row d-flex justify-content-center">
    <div class="col-md-6 p-5">
    <form method="POST" enctype="multipart/form-data" action='upload' class="mt-5"> <!-- post : handle submission -->
        <h2>File Upload</h2>
        {{ form.csrf_token }} <!--  render the form's CSRF field like normal. -->
            {{ form.file_selector }}
        <br/>
        {{ form.submit(class='btn btn-primary btn-md mt-2 upload') }}
    </form>
        <div class="pt-5 instructions">
            <h3>Getting Started</h3>
        <ol>
            <li>Click <span class="caps bright-text">Choose File</span> and select the
                image file you wish to translate. Please upload jpg file types
            for best results.
            </li>
            <li>
                Click <span class="caps bright-text">Submit</span> to begin translating.
            </li>
            <li>
                Click <span class="caps bright-text">Download</span> to enjoy your new
                comics!
            </li>
        </ol>
        </div>
    </div>
</div> <!-- /container -->

    </body>
</html>
